<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>DateFormatterService</servlet-name>
		<servlet-class>be.steformations.sivananda.server.DateFormatRpcServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AvailableLocaleServlet</servlet-name>
		<servlet-class>be.steformations.sivananda.server.AvailableLocaleServlet</servlet-class>
	</servlet>
	
	<!-- peut être remplacé par une annotation dans la classe de la servlet -->
	<servlet>
		<servlet-name>DateFormatJsonService</servlet-name>
		<servlet-class>be.steformations.sivananda.server.DateFormatJsonService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DateFormatterService</servlet-name>
		<url-pattern>/dateformatter/service</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AvailableLocaleServlet</servlet-name>
		<url-pattern>/available/locales</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DateFormatJsonService</servlet-name>
		<url-pattern>/json/service</url-pattern>
	</servlet-mapping>
</web-app>
